@import url('https://v1.fontapi.ir/css/SFProDisplay');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'SF Pro Display', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
}